body {
    background-color: #e6f0ff; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
    color: #1e90ff; 
    font-weight: bold;
}

form {
    background-color: #d6e4ff; 
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #a4c3ff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 25px;
    border: 2px solid #a4c3ff; 
    padding: 10px;
    font-size: 16px;
    background-color: #f0f7ff; 
}

label {
    color: #4682b4;
    font-weight: bold;
}

.btn-primary {
    background-color: #1e90ff; 
    border-color: #1e90ff;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #1c86ee; 
    border-color: #1c86ee;
}

.btn-danger {
    background-color: #ff6347; 
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
}

.btn-danger:hover {
    background-color: #e34234;
}

.table1 {
    background-color: #f0f7ff; 
    border-radius: 20px;
    padding: 30px;
    border: 2px solid #a4c3ff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
}

.table1 th, .table1 td {
   border-bottom: 1px solid #a4c3ff; 
}

th {
    font-size: 20px;
    padding: 30px;
    color: #1e90ff; 
    background-color: #d6e4ff; 
}

tr:hover {
    background-color: #cfe0ff; 
    transition: background-color 0.3s ease;
}

td {
    font-size: 18px;
}

.table1 tbody tr:nth-child(even) {
    background-color: #f0f7ff; 
}

.table1 tbody tr:hover {
    background-color: #cfe0ff;
}

button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
